* {
    padding: 0;
    margin: 0;
    
} 

body {
    background-image: url("../images/background2.jpg");
    background-size: 500px 850px;
    background-repeat: no-repeat;
    
}

.grid {
    position: relative;
    top: 3%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
}

.header {
    grid-area: header;
    text-align: center;
    color: white;
    background-color: blue; opacity: .5;
}

h3 {
    color: gold;
}

.timer {
    position: fixed;
    font-size: 9px;
    background-color: yellow;
    border-radius: 10%;
    z-index: 2;
}

 @media screen and (min-width: 500px) 
  {
    * {
        padding: 0;
        margin: 0;
        
    } 
    
    body {
        background-image: url("../images/background1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .timer {
        position: fixed;
        left: 35px;
        font-size: 16px;
        background-color: yellow;
        border-radius: 10%;
        z-index: 2;
    }
    

}